<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187923702014-vhen5u0vfrsfphekc2sb5lcgft3el4v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187923702014-vhen5u0vfrsfphekc2sb5lcgft3el4v1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187923702014-lj8b97thhn5p6ljmttctrdu082cou0h2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7OucFQMjtt7ji4bdpeYzMBUAE9Mr3OrI</string>
	<key>GCM_SENDER_ID</key>
	<string>187923702014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talaltech.baldah</string>
	<key>PROJECT_ID</key>
	<string>baldah</string>
	<key>STORAGE_BUCKET</key>
	<string>baldah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187923702014:ios:fd6bd1fd26169072d485af</string>
</dict>
</plist>